# Ignorar archivos de compilación
/target/

# Ignorar archivos de configuración específicos de IDEs
/.classpath
/.project
/.settings/
/.vscode/
/.idea/

# Ignorar archivos de compilación de Maven
*.iml
*.jar
*.war
*.ear
*.class

# Ignorar archivos de dependencias de Maven
lib/
*.jar

# Ignorar archivos de logs
log/
*.log
